@import './theme';

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

header {
  background-color: $primary-color;
  padding: 0 46px;
  color: #fff;
  display: flex;
  align-items: center;

  @media (min-width: 600px) {
    min-height: 64px;
    padding: 0 104px;
  }
  
  h6{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
